@font-face {
    font-family:"AlfaSlabOne-Regular";
    src: url("../../fonts/Alfa_Slab_One/AlfaSlabOne-Regular.ttf") format("truetype");
}
@font-face {
    font-family:"Quicksand";
    src: url("../../fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
} 
body{
    font-family: 'Quicksand', sans-serif;
    overflow: hidden !important;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Quicksand",sans-serif;
}

/* [class*=col] [class*=col]:last-child{
    padding-right: 0 !important; 
} */
.flex{
    display: flex !important;
}
.btn-selected{ 
    -webkit-box-shadow: inset 1px 1px 10px #545353b5  !important;;
    -moz-box-shadow:    inset 1px 1px 10px #545353b5  !important;;
    box-shadow:         inset 1px 1px 10px #545353b5  !important;;
    /* background: #3f97e4 !important; */
}
.btn-unselected{ 
    background: rgb(206, 205, 205) !important;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus,.bootstrap-select .dropdown-toggle:focus{
    outline: none !important;
}
.clearfix>label{
    font-size: 10px;
}
.clearfix>button[data-toggle="dropdown"]{
    height: 24px;
}
.header{ margin-top: 0px !important;}
.header>.ace-icon {
    margin-right: 10px;
}
.head-project{
    display: flex;
    padding: 8px 0;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: baseline;
    /* font-family: 'AlfaSlabOne-Regular', cursive; */
    font-family: 'Quicksand', sans-serif;
    position: relative;
    z-index: 3;
}

.head-project>span.h-text{
    /* font-family: 'AlfaSlabOne-Regular', cursive; */
    font-family: 'Quicksand', sans-serif;

    display: block;
    font-size: 36px;
    padding: 2px 2px 2px;
    background: #f9f9f9;
    color: #394557;
    border: 3px solid #394557;
    z-index: 1;
}
.head-project>span.c-text{
    padding: 2px 8px;
    font-size: 18px;
    background: #f6f6f600;
    color: #394557;
    z-index: 1;
    letter-spacing: 1px;
}
.head-project>span.i-text{
    font-size: 44px;
    position: absolute;
    top: 24px;
    /* color: #394557; */
    left: 0px;
    transform: rotate(0deg);
    animation-name: moveCog;
    animation-duration: 2.8s;   
    animation-fill-mode: both; 
    opacity: 0;
}
.navbar-brand>small{
    letter-spacing: 1px;
    font-weight: 500;
    text-shadow: 2px 0px 5px black;
}
button[data-toggle="dropdown"]{
    border-radius: 0!important;
    color: #858585 !important;
    background-color: #FFF !important;
    border: 1px solid #D5D5D5 !important;
    padding: 5px 4px 6px;
    font-size: 14px;
    font-family: inherit;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
    text-shadow: none !important;
}
.open>.btn-default.dropdown-toggle, .open>.btn-default.dropdown-toggle{
    background-color: #FFF !important;
    border-color: #ABBAC3 !important    ;    
}
.open>.btn.dropdown-toggle:hover, 
.open>.btn.dropdown-toggle:focus, 
.open>.btn.dropdown-toggle:active:hover, 
.open>.btn.dropdown-toggle:focus:active, 
.open>.btn.dropdown-toggle:focus:hover,
button.btn.dropdown-toggle:hover, 
button.btn.dropdown-toggle:focus, 
button.btn.dropdown-toggle:active:hover, 
button.btn.dropdown-toggle:focus:active, 
button.btn.dropdown-toggle:focus:hover
{ 
    background: white !important;
    border-color: #b5b5b5 !important;
}
.btn-default.focus:hover, .btn-default:active:hover, .btn-default:focus:active, .btn-default:focus:hover, .btn-default:hover, .btn.focus:hover, .btn:active:hover, .btn:focus:active, .btn:focus:hover, .btn:hover, .open>.btn-default.dropdown-toggle, .open>.btn-default.dropdown-toggle.focus, .open>.btn-default.dropdown-toggle:active, .open>.btn-default.dropdown-toggle:focus, .open>.btn-default.dropdown-toggle:hover, .open>.btn.dropdown-toggle {
 
    /* background: white !important; */
    border-color: #b5b5b5 !important;
}

@media (min-width: 1200px){
    label[class*=col], .p-md-0{
        padding-left: 0 !important;
    }
}
@media (min-width: 992px) and (max-width: 1200px){
    label[class*=col]{
        padding: 0 !important;
    } 
}
@media (max-width: 992px){
    label[class*=col]{
        padding: 0 !important;
    } 
}
/* The animation code */
@keyframes moveCog {
    /* from {left: 0px; transform: rotate(0deg); opacity: 0; color:#f6f6f6;} */
    /* to {left: 300px; transform: rotate(720deg); opacity: 2; color: #394557;} */
    0%   {left: 0px; transform: rotate(0deg); opacity: 0; color:#f6f6f6;}
    25%  {left: 100px; transform: rotate(180deg); opacity: 0; color:#f6f6f6;}
    50%  {left: 200px; transform: rotate(360deg); opacity: 0; color:#f6f6f6;}
    80%  {left: 334px; transform: rotate(560deg); opacity: 0.1; color:#f6f6f6;}
    100% {left: 322px; transform: rotate(720deg); opacity: 1; color:#394557;}
}

@keyframes loging {
    /* from {content: ".";}
    to {content: "..";} */
    0%   {content: "\e258";}
    25%  {content: "\e258\e258";}
    50%  {content: "\e258\e258\e258";}
    80%  {content: "\e258\e258\e258\e258";}
    100% {content: "\e258\e258\e258\e258\e258";}
}
@keyframes loadingpage { 
    0% {width : 0px;}
    25% {width : 125px;}
    50% {width : 350px;}
    75% {width : 475px;}
    100% {width : 586px;} 
}
@media only screen and (max-width: 764px) { 
    body {
        background-image: linear-gradient(280deg, #fefff6, #fff, #e9f6ff) !important;
    }   
    .main-content-load>span.wait-load-page{
        left: unset;
    }
    .main-content-load>span.wait-load-page::before{
        content:'WAITING..';
        width: 80vw; 
        font-size: 12px;
    }
    .main-content-load>span.wait-load-page::after{ 
        max-width: 380px;
    }
    .coming-soon{ width: 90vw !important; font-size: 10px;}
    .coming-soon::before{ font-size: 14px !important; }
}

.main-content{
    position: relative;    
}
.main-content-load{
    position: absolute;
    background: white;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: visible !important;
}
.main-content-load>span.wait-load-page{
    width: 50vw;
    position: absolute; 
    text-align: center;
    padding: 20px 16px;
    border: 2px solid #2679B5;
    letter-spacing: 18px;  
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    top: 21vh;
    left: 30vw;
}
.main-content-load>span.wait-load-page.page-error{
    border: 2px solid #d82323;
}
.main-content-load>span.wait-load-page::before{
    content:'WAITING LOADING PAGE'; 
    color: #2679B5;
    display: inline-block;
    width: 100%;
}
.main-content-load>span.wait-load-page.page-error{
    border: 2px solid #d82323 !important;
}
.main-content-load>span.wait-load-page.page-error::before{
    content:'ERROR LOADING PAGE';
    color: #d82323;
}
.main-content-load>span.wait-load-page.page-error::after{
    animation:unset !important;
}
.main-content-load>span.wait-load-page::after{ 
    content:' ';  
    color: #2679B5; 
    width: 100%;
    animation: loadingpage 2s linear 1s infinite alternate;
    display: block;
    letter-spacing: 20px;
    background: #438eb9;
    height: 2px;
    width: 0px;
    transition: all 0.4s ease-in-out;
}
.menu-text{letter-spacing: 2px;}

.no-skin .nav-list>li.active:after { 
    right: -1px !important;
    top: 0px; 
}
.nav-list a .badge, .nav-list a .label { 
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
}
.page-content {
    max-height: 80vh;
    overflow: auto;
    min-height: 80vh;
}
.page-content {
    background-color: #FFF;
    position: relative;
    margin: 0;
    padding: 8px 20px 0px;
}
.widget-box { 
    margin-bottom: 0px !important;
}
.login-layout .widget-box .widget-main {
    padding: 16px 26px 36px;
    background: #F7F7F7;
}
.widget-main {
    padding: 12px 12px 0px 12px;
}
.footer {
    padding-top: 0px !important;
    height: 0;
    width: 0;
}
.footer .footer-inner .footer-content {
    position: absolute;
    left: 12px;
    right: 12px;
    bottom: 4px;
    padding: 0px 8px 8px 8px;
    line-height: 36px;
    border-top: 2px double #E5E5E5;
    background: white;
}
.section-content{
    position: relative;

}

.coming-soon{ 
    width: 40vw;
    position: relative; 
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: center;
    padding: 12px;
    border: 2px solid #2679B5;
    letter-spacing: 18px;
}
.coming-soon::before{
    content:'COMING SOON'; 
    font-size: 40px;
    color: #2679B5;
    display: inline-block;
    width: 100%;
}
.breadcrumbs{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;    
}
.breadcrumb {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
}
.breadcrumb li {
    display: flex;
    align-items: baseline;
    letter-spacing: 1px;
}
.page-header h1{ letter-spacing: 1px;}
@media (max-width: 990px) {    
    .main-content-load>span.wait-load-page{
        left: unset !important;
        width: 80vw; 
        font-size: 12px;
    }
    .main-content-load>span.wait-load-page::before{
        content:'WAITING..';

    }
    .main-content-load>span.wait-load-page::after{ 
        height: 1px;
        max-width: 380px;
        animation: loadingpage 1s linear 1s infinite alternate;
    }
}

@media (min-width: 990px) {    

}
.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tbox{
    padding: 10px 2px;
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.dataTables_paginate .pagination {
    margin: 0 0px;
}
button[data-toggle="dropdown"]{
    padding: 6px 4px 6px;    
}
.widget-headers{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
    min-height: 38px;
    background: repeat-x #f7f7f7;
    background-image: -webkit-linear-gradient(top,#FFF 0,#EEE 100%);
    background-image: -o-linear-gradient(top,#FFF 0,#EEE 100%);
    background-image: linear-gradient(to bottom,#FFF 0,#EEE 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
    background-image:none;
    filter:none;
    color: #669FC7;
    /* border-bottom: 1px solid #16394d; */
    padding-left: 12px;
}
.widget-color-blue2>.widget-headers {
    /* background: #16394d; */
    background: #ffffff;

    /* border-color: #16394d; */
    border-color: #ffffff;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    box-sizing: border-box;
    padding: 0px 12px !important;
    border-bottom: 1px solid #16394d;
    color: #fff;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    color: #101010;
    box-shadow: 0px 1px 0px 0px #16394d;
    /* color: #2679B5; */

}
.widget-color-blue2 {
    /* border-color: #16394d; */
    border-color: #ffffff;

}
.widget-headers .input-icon>input {
    border: 2px solid #16394d;
    padding: 3px 14px 3px 40px;
    border-radius: 20px !important;
    /* padding-top: 2px !important; */
}
.input-icon>.ace-icon-permission { 
    position: absolute; 
    left: 10px; 
}
.widget-headers h4{
    letter-spacing: 2px !important;
}