.i-show-gender{
    font-size: 26px;
    padding: 4px 20px 4px 50px;
    font-weight: 800;
    max-width: 90px;
}
.btn-switch{
    border: none;
    color: white !important;
    max-width: 140px;
}
.btn-switch[value="Male"]{
    background: rgb(75, 119, 228);
}
.btn-switch[value="Female"]{
    background: rgb(219, 76, 205);
}
.form-control:focus.btn {
    color: #696969;
    border-color: #e1dfde;
    background-color: #FFF;
    outline: 0;
}
.u-content{
    display: flex;
    position: relative;
    height: calc(26vh - 2px);
    flex-direction: row; 
}
.u-box{
    display: flex;
    min-height: 10vh;
    width: 100%;
    border: 2px solid #393939;
    box-sizing: border-box;
    padding: 5px; 
    /* background: blanchedalmond; */
}
.u-sticky{
    position: sticky;
    bottom: 0px;
    /* background: white; */
    margin: 9px 0px 0px 0px;
    z-index: 3;
}
.u-action-info{
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    /* min-height: 90px; */
}
.u-action-info>span{
    padding-right: 10px;
}
.u-action-info>div{
    padding-right: 5px;
    position: relative;
    flex: 100%;
}
.u-action-info>div pre{
    min-height: calc(90px + 2vh);
    background-color: #e8f5f9c7;
    border: 1px solid #f9f9f9fa;
    padding: 5px 5px 8px !important;
    margin-bottom: 0px !important;
    border: 2px solid #393939;
    border-radius: 0px !important;
}
.u-action-info div::before{ 
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    content: "\e251";
    position: absolute;
    top: -4px;
    left: -9px;
}
.u-btn-reset{
    background: rgb(215 52 100) !important;
    border: none !important;
}
.u-btn-register{
    background:rgb(75, 119, 228) !important;
    border: none !important;
}
.u-btn-reset:hover, 
.u-btn-reset:focus, 
.u-btn-reset:active, 
.u-btn-reset:focus:active, 
.u-btn-reset:hover:active,
.u-btn-reset:hover:focus{
    background: rgb(238, 141, 124) !important;
    border: none !important;
    /* border: 3px solid #e3a8a8 !important; */
}
.u-btn-register:hover, 
.u-btn-register:focus, 
.u-btn-register:active, 
.u-btn-register:focus:active, 
.u-btn-register:hover:active,
.u-btn-register:hover:focus{
    background:rgb(155, 176, 228) !important;
    border: none !important;
    /* border: 3px solid #bab9e6 !important; */
}
button.btn:active {
    top: 0px !important;
}

.panel-list{
    padding: 8px 0px;
}
.addClick{
    padding: 0px !important;
    position: relative;
    display: flex;
    /* justify-content: flex-start;  */
    height: 25px;
    align-items: center;
}
button.per-click-add{
    display: flex;
    width: 190px;
    background: #4cc24c;
    padding: 5px 8px;
    border-top-right-radius: 15px; 
    border-bottom-left-radius: 0px;
    position: relative;
    color: #ffe9e9;
    border: none !important;
    font-weight: 600;
    /* transition: all 2s cubic-bezier(0.68, 0.39, 0.48, 0.86); */
    position: absolute;
    /* right: unset; */
    left: 0px;
    transition: all 0.734s cubic-bezier(0.68, 0.39, 0.48, 0.86);
    align-items: center;
    justify-content: space-between;
}
/* button.per-click-add::before{
    content: ' ';
    width: 20px;
    background: #4cc24c;
    display: block;
    position: absolute;
    top: 0;
    left: -10px;
    height: 29px;
    border-bottom: 14px solid #ffffff;
    border-right: 4px solid #4cc24c;
    border-top: 14px solid #ffffff;
    border-left: 16px solid #ffffff;
} */
/* button.per-click-add::after{
    content: ' ';
    width: 20px;
    background: #4cc24c;
    display: block;
    position: absolute;
    top: 0;
    right: -10px;
    height: 29px;
    border-bottom: 14px solid #ffffff;
    border-right: 16px solid #ffffff;
    border-top: 14px solid #ffffff;
    border-left: 4px solid #4cc24c;
} */
.open-add{
    left: calc(100% - 190px) !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 15px !important;
    /* border-radius: 15px 0px 0px 0px !important;  */
}
.panel-add{
    position: relative;
    z-index: 5;
}
/* .per-click-add:focus:active{
    left: 50%;  
} */
.addClick i{
    margin-left: 5px;
    color: #393939;
}
.comp-add{
    position: absolute;
    background: #fff;
    min-height: 310px;
    top: -6px;
    left: 0; 
    padding: 10px;
    border: 3px solid #16394d;
    transform: translate(-200%);
    visibility: hidden;
    opacity: 1;
    box-shadow: 8px 5px 5px 0px #9f9e9e00;
    transition: all 0.734s cubic-bezier(0.68, 0.39, 0.48, 0.86);
    
}
.comp-add-show{
    visibility: visible;
    opacity: 1;
    transform: translate(0%); 
    box-shadow: 8px 5px 5px 0px #9f9e9e;
}
.comp-add *{
    font-size: 11px !important;
}
.comp-add input{
    width: 100%;
}
.comp-add textarea{
    width: 100% !important; 
    height: 140px !important;
}

.widget-main>ul{
    min-height: calc(45vh + 2vh);
    max-height: calc(45vh + 2vh);
    margin: 0 0 10px 25px;
}